*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 50px;
    background-color: blue;
}

.header_nav{
    list-style: none;
    margin-left: 80%;
    
}

.header_nav a{
   color: white;
   text-decoration: none;
}

.item{
    display: inline-block;
    margin: 5px;
    font-weight: 300;
}

.item_strong{
    font-weight: 400;
}

.navigation{
    max-width: 2000px;
    height: 100px;
    background-color:#039E99;
}

.nav li{
    display: inline-block;
    vertical-align: middle;
    
}

.nav li a{
    color: white;
    text-decoration: none;
    padding: 0 26px;
    display: flex;
}

.nav li:hover a{
    color: black;
    background-color: #ccc;
}

.nav #hangdienthoai{
    display: none;
}
.slider{
    background-color: yellow;
    height: 1000px;
}


.gioithieu{
    display: flex;
    height: 100%;
    background-image: linear-gradient(0,rgba(201, 201, 175, 0.5),rgba(112, 112, 89, 0.5)),url(../IMG/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.gioithieu__desc {
    flex: 50%
}

.gioithieu__desc p {
    color: black;
}

.gioithieu__img {
    flex: 50%
}

.gioithieu__img img {
    width: 100%;
    height: auto;
}

.gioithieu h1,h4{
    text-align: center;
    font-size: 40px;
}

.gioithieu p{
    font-size: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.footer1{
    width: 75%;
    margin: 0 auto;
}
.footer{
    height: 300px;
    background-color:#039E99;
    float:left;
    width:100%;
}
.footer h2,p,li{
   color: white;
   text-decoration: none;
   list-style: none;
}
.Thongtinweb{
    width: 50%;
    height: 20%;
    float: left;
}
.DanhSach{
    width: 50%;
    float:left;
    height: 80%;
}
